In [14]:
import pandas as pd
import numpy as np

data = pd.read_csv('../new_data/books_corrected.csv')

/tmp/ipykernel_21988/3971980152.py:4: DtypeWarning: Columns (18,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../new_data/books_corrected.csv')

In [15]:
# Remove all unnamed columns
data = data.loc[:, ~data.columns.str.contains('^Unnamed')]

print(data.columns)

Index(['id', 'title', 'series', 'author', 'rating_count', 'review_count',
       'average_rating', 'five_star_ratings', 'four_star_ratings',
       'three_star_ratings', 'two_star_ratings', 'one_star_ratings',
       'number_of_pages', 'date_published', 'publisher', 'original_title',
       'genre_and_votes', 'isbn', 'isbn13', 'settings', 'characters', 'awards',
       'books_in_series', 'description'],
      dtype='object')

In [16]:
#keep only award and title
data = data[['title', 'awards']]

data_awards = data[['awards']]
# Remove the NaN values
data_awards = data_awards.dropna()
# Remove the duplicates
data_awards = data_awards.drop_duplicates()

In [17]:
print(data_awards.head())

                                               awards
4   Independent Publisher Book Award (IPPY) Nomine...
10  Romantic Times Reviewers' Choice Award (RT Awa...
13  Goodreads Choice Award Nominee for Nonfiction ...
15                                  SFBC Award (1991)
16  International Napoleonic Society Literary Awar...

In [18]:
# Rename the column awards to name_awards
data_awards = data_awards.rename(columns={'awards': 'award_name'})

In [19]:
# Know the largest size among the attributes
print(data_awards['award_name'].apply(len).max() * 1.1)

2237.4

In [20]:
from sqlalchemy import create_engine

# URL of the Supabase database
database_url = 'postgresql://postgres.pczyoeavtwijgtkzgcaz:D0jVgaoGmDAFuaMS@aws-0-eu-west-3.pooler.supabase.com:6543/postgres'

# Create a connection with the database
engine = create_engine(database_url)

#Insert data into the 'author' table
data_awards.to_sql('awards', con=engine, if_exists='append', index=False)

print("Insertion des données terminée.")

Insertion des données terminée.

In [21]:
print(data.columns)

# Remove the nan values
data = data.dropna()

Index(['title', 'awards'], dtype='object')

In [22]:
data.head(5)

,title,awards
4,The Millionaire Next Door: The Surprising Secr...,Independent Publisher Book Award (IPPY) Nomine...
10,The Aeronaut's Windlass,Romantic Times Reviewers' Choice Award (RT Awa...
13,Sex at Dawn: The Prehistoric Origins of Modern...,Goodreads Choice Award Nominee for Nonfiction ...
15,The Elvenbane,SFBC Award (1991)
16,Moscow 1812: Napoleon's Fatal March,International Napoleonic Society Literary Awar...

In [30]:
from sqlalchemy import create_engine, select, Table, MetaData
from sqlalchemy.orm import sessionmaker

# Database connection parameters
engine = create_engine(database_url)
Session = sessionmaker(bind=engine)
session = Session()

# Create the MetaData object without `bind`
metadata = MetaData()

# Load tables book and awards using `autoload_with=engine`
book_table = Table('book', metadata, autoload_with=engine)
awards_table = Table('awards', metadata, autoload_with=engine)

'''
# Query to get book and awards IDs based on their names
def get_id_by_name(table, name_column, name_value, search_column='id'):
    result = session.execute(select(table.c[search_column]).where(table.c[name_column] == name_value)).first()
    return result[0] if result else None

# Parcours du DataFrame pour récupérer les IDs et afficher un message après chaque insertion dans `associations`
# Iterate on each values of the DataFrame to get the IDs and display a message after each insertion in `associations
associations = []
for index, row in data.iterrows():
    book_id = get_id_by_name(book_table, 'book_title', row['title'], search_column='book_id')
    award_id = get_id_by_name(awards_table, 'award_name', row['awards'], search_column='award_id')
    
    # Check that both IDs exist before inserting them
    if book_id and award_id:
        associations.append({'book_id': book_id, 'award_id': award_id})
        print(f"Association ajoutée : livre ID {book_id}, award ID {award_id}")

# Save associations to a CSV file
df_associations = pd.DataFrame(associations)
df_associations.to_csv('associations_award.csv', index=False)
'''

# Load the associtions from the CSV file
associations = pd.read_csv('associations_award.csv')


# Remove the duplicates of (book_id, award_id)
associations = associations.drop_duplicates()

display(associations.head())

# Insert the associations in the SQL table 'book_awards'
associations.to_sql('book_awards', con=engine, if_exists='append', index=False)

# Close the session after insertion
session.close()

    book_id  award_id
0       998         1
1  24876258         2
2   7640261         3
3    176892         4
4    138811         5

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "book_awards_pkey"
DETAIL:  Key (book_id, award_id)=(998, 1) already exists.

[SQL: INSERT INTO book_awards (book_id, award_id) VALUES (%(book_id__0)s, %(award_id__0)s), (%(book_id__1)s, %(award_id__1)s), (%(book_id__2)s, %(award_id__2)s), (%(book_id__3)s, %(award_id__3)s), (%(book_id__4)s, %(award_id__4)s), (%(book_id__5)s, %(award ... 38479 characters truncated ... )s, %(award_id__997)s), (%(book_id__998)s, %(award_id__998)s), (%(book_id__999)s, %(award_id__999)s)]
[parameters: {'book_id__0': 998, 'award_id__0': 1, 'book_id__1': 24876258, 'award_id__1': 2, 'book_id__2': 7640261, 'award_id__2': 3, 'book_id__3': 176892, 'award_id__3': 4, 'book_id__4': 138811, 'award_id__4': 5, 'book_id__5': 23346719, 'award_id__5': 6, 'book_id__6': 1977834, 'award_id__6': 7, 'book_id__7': 7831145, 'award_id__7': 8, 'book_id__8': 58893, 'award_id__8': 9, 'book_id__9': 6419887, 'award_id__9': 10, 'book_id__10': 71869, 'award_id__10': 11, 'book_id__11': 7519640, 'award_id__11': 12, 'book_id__12': 2214574, 'award_id__12': 13, 'book_id__13': 7163862, 'award_id__13': 14, 'book_id__14': 8662135, 'award_id__14': 15, 'book_id__15': 97860, 'award_id__15': 16, 'book_id__16': 10587120, 'award_id__16': 17, 'book_id__17': 621687, 'award_id__17': 18, 'book_id__18': 199635, 'award_id__18': 19, 'book_id__19': 39097, 'award_id__19': 20, 'book_id__20': 7129468, 'award_id__20': 21, 'book_id__21': 8685644, 'award_id__21': 22, 'book_id__22': 10414941, 'award_id__22': 23, 'book_id__23': 11242368, 'award_id__23': 24, 'book_id__24': 167302, 'award_id__24': 25 ... 1900 parameters truncated ... 'book_id__975': 693016, 'award_id__975': 835, 'book_id__976': 12890, 'award_id__976': 930, 'book_id__977': 8041873, 'award_id__977': 931, 'book_id__978': 23719469, 'award_id__978': 932, 'book_id__979': 20980680, 'award_id__979': 933, 'book_id__980': 23601046, 'award_id__980': 934, 'book_id__981': 18464362, 'award_id__981': 935, 'book_id__982': 23909755, 'award_id__982': 936, 'book_id__983': 23346335, 'award_id__983': 937, 'book_id__984': 22447885, 'award_id__984': 938, 'book_id__985': 35724645, 'award_id__985': 939, 'book_id__986': 22718705, 'award_id__986': 940, 'book_id__987': 35575184, 'award_id__987': 941, 'book_id__988': 68093, 'award_id__988': 942, 'book_id__989': 7877549, 'award_id__989': 943, 'book_id__990': 291112, 'award_id__990': 944, 'book_id__991': 94062, 'award_id__991': 945, 'book_id__992': 4277998, 'award_id__992': 946, 'book_id__993': 12114440, 'award_id__993': 33, 'book_id__994': 1900124, 'award_id__994': 947, 'book_id__995': 23267873, 'award_id__995': 948, 'book_id__996': 17253180, 'award_id__996': 949, 'book_id__997': 19246471, 'award_id__997': 950, 'book_id__998': 30731416, 'award_id__998': 951, 'book_id__999': 36443315, 'award_id__999': 952}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)