In [22]:
import pandas as pd
import numpy as np

data = pd.read_csv('../new_data/books_corrected.csv')

/tmp/ipykernel_2423/3971980152.py:4: DtypeWarning: Columns (18,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../new_data/books_corrected.csv')

In [23]:
#enlever toute les collone unamed
data = data.loc[:, ~data.columns.str.contains('^Unnamed')]

print(data.columns)

Index(['id', 'title', 'series', 'author', 'rating_count', 'review_count',
       'average_rating', 'five_star_ratings', 'four_star_ratings',
       'three_star_ratings', 'two_star_ratings', 'one_star_ratings',
       'number_of_pages', 'date_published', 'publisher', 'original_title',
       'genre_and_votes', 'isbn', 'isbn13', 'settings', 'characters', 'awards',
       'books_in_series', 'description'],
      dtype='object')

In [24]:
#enlever les collones qui ne sont pas utiles
data = data.drop(columns=['id', 'series', 'publisher', 'genre_and_votes', 'characters', 'awards', 'books_in_series'])

In [25]:
print(data.columns)

Index(['title', 'author', 'rating_count', 'review_count', 'average_rating',
       'five_star_ratings', 'four_star_ratings', 'three_star_ratings',
       'two_star_ratings', 'one_star_ratings', 'number_of_pages',
       'date_published', 'original_title', 'isbn', 'isbn13', 'settings',
       'description'],
      dtype='object')

In [26]:
colonnes_dans_ordre = [
    'title',
    'number_of_pages',   # sera renommé 'nb_pages'
    'description',
    'settings',
    'isbn',
    'isbn13',
    'original_title',
    'rating_count',
    'review_count',
    'one_star_ratings',   # attention aux pluriels que l'on doit aligner avec 'one_star_rating'
    'two_star_ratings',
    'three_star_ratings',
    'four_star_ratings',
    'five_star_ratings'
]

# Réorganiser les colonnes du DataFrame
data_reordered = data[colonnes_dans_ordre].copy()

# Renommer les colonnes pour correspondre aux noms dans la table SQL
data_reordered = data_reordered.rename(columns={
    'number_of_pages': 'nb_pages',
    'one_star_ratings': 'one_star_rating',
    'two_star_ratings': 'two_star_rating',
    'three_star_ratings': 'three_star_rating',
    'four_star_ratings': 'four_star_rating',
    'five_star_ratings': 'five_star_rating'
})

# Ajouter une colonne 'id_book' qui simule une clé primaire séquentielle
data_reordered.insert(0, 'id_book', range(1, len(data_reordered) + 1))

# Affichage du DataFrame avec l'ordre et les noms de colonnes désirés
print(data_reordered.head())

   id_book                                              title  nb_pages  \
0        1                                       Inner Circle     220.0
1        2                                  A Time to Embrace     400.0
2        3                                           Take Two     320.0
3        4                                          Reliquary     464.0
4        5  The Millionaire Next Door: The Surprising Secr...     258.0

                                         description  \
0  Reed Brennan arrived at Easton Academy expecti...
1  Ideje az ölelésnek Történet a reményről, gyógy...
2  Filmmakers Chase Ryan and Keith Ellison have c...
3                                                NaN
4  The incredible national bestseller that is cha...

                                            settings        isbn  \
0                                                NaN  1416950419
1                                                NaN  1595542329
2                Bloomington, Indiana(United States)         NaN
3  New York State(United States) New York City, N...   765354950
4                                                NaN   671015206

          isbn13                                     original_title  \
0  9781416950417                                       Inner Circle
1  9781595542328                                                NaN
2            NaN                                           Take Two
3  9780765354952                                          Reliquary
4  9780671015206  The Millionaire Next Door: The Surprising Secr...

   rating_count  review_count  one_star_rating  two_star_rating  \
0          7597           196               92              389
1          4179           177               23               93
2          6288           218               44              183
3         38382          1424              324             1429
4         72168          3217             1086             3414

   three_star_rating  four_star_rating  five_star_rating
0               1748              2323              3045
1                518              1290              2255
2               1041              2020              3000
3               8511             15407             12711
4              14855             25219             27594

In [27]:
print(data_reordered.columns)

Index(['id_book', 'title', 'nb_pages', 'description', 'settings', 'isbn',
       'isbn13', 'original_title', 'rating_count', 'review_count',
       'one_star_rating', 'two_star_rating', 'three_star_rating',
       'four_star_rating', 'five_star_rating'],
      dtype='object')

In [28]:
from sqlalchemy import create_engine

## URL de la base de données Supabase
database_url = 'postgresql://postgres.pczyoeavtwijgtkzgcaz:D0jVgaoGmDAFuaMS@aws-0-eu-west-3.pooler.supabase.com:6543/postgres'

## Créer une connexion avec la base de données
engine = create_engine(database_url)

## Insérer les données dans la table SQL 'author'
data_reordered.to_sql('book', con=engine, if_exists='append', index=False)

print("Insertion des données terminée.")

Insertion des données terminée.