In [93]:
import pandas as pd
import numpy as np

data = pd.read_csv('../new_data/books_corrected.csv')

/tmp/ipykernel_7927/3971980152.py:4: DtypeWarning: Columns (18,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../new_data/books_corrected.csv')

In [94]:
# Remove all unnamed columns
data = data.loc[:, ~data.columns.str.contains('^Unnamed')]

print(data.columns)

Index(['id', 'title', 'series', 'author', 'rating_count', 'review_count',
       'average_rating', 'five_star_ratings', 'four_star_ratings',
       'three_star_ratings', 'two_star_ratings', 'one_star_ratings',
       'number_of_pages', 'date_published', 'publisher', 'original_title',
       'genre_and_votes', 'isbn', 'isbn13', 'settings', 'characters', 'awards',
       'books_in_series', 'description'],
      dtype='object')

In [95]:
# Remove colomns that aren't useful
data = data.drop(columns=['series', 'publisher', 'genre_and_votes', 'characters', 'awards', 'books_in_series'])

In [96]:
print(data.columns)

Index(['id', 'title', 'author', 'rating_count', 'review_count',
       'average_rating', 'five_star_ratings', 'four_star_ratings',
       'three_star_ratings', 'two_star_ratings', 'one_star_ratings',
       'number_of_pages', 'date_published', 'original_title', 'isbn', 'isbn13',
       'settings', 'description'],
      dtype='object')

In [97]:
colonnes_dans_ordre = [
    ''
    'id',
    'title',
    'settings',
    'number_of_pages',
    'isbn', 
    'description',
    'isbn13',
    'original_title',
    'review_count',
    'one_star_ratings',   # Be warned of the plurals that we've to alligned with 'one_star_rating'
    'two_star_ratings',
    'three_star_ratings',
    'four_star_ratings',
    'five_star_ratings'
]

# Reoraganize the columns of the DataFrame
data_reordered = data[colonnes_dans_ordre].copy()

# Renaming the columns to fit with the ones of the SQL table
data_reordered = data_reordered.rename(columns={
    'id': 'book_id',
    'title': 'book_title',
    'number_of_pages': 'nb_of_pages',
    'description': 'book_description',
    'one_star_ratings': 'one_star_rating',
    'two_star_ratings': 'two_star_rating',
    'three_star_ratings': 'three_star_rating',
    'four_star_ratings': 'four_star_rating',
    'five_star_ratings': 'five_star_rating'
})

# Display of the DataFrame  with the desired order and column names
print(data_reordered.head())

   book_id                                         book_title  \
0   630104                                       Inner Circle
1     9487                                  A Time to Embrace
2  6050894                                           Take Two
3    39030                                          Reliquary
4      998  The Millionaire Next Door: The Surprising Secr...

                                            settings  nb_of_pages        isbn  \
0                                                NaN        220.0  1416950419
1                                                NaN        400.0  1595542329
2                Bloomington, Indiana(United States)        320.0         NaN
3  New York State(United States) New York City, N...        464.0   765354950
4                                                NaN        258.0   671015206

                                    book_description         isbn13  \
0  Reed Brennan arrived at Easton Academy expecti...  9781416950417
1  Ideje az ölelésnek Történet a reményről, gyógy...  9781595542328
2  Filmmakers Chase Ryan and Keith Ellison have c...            NaN
3                                                NaN  9780765354952
4  The incredible national bestseller that is cha...  9780671015206

                                      original_title  review_count  \
0                                       Inner Circle           196
1                                                NaN           177
2                                           Take Two           218
3                                          Reliquary          1424
4  The Millionaire Next Door: The Surprising Secr...          3217

   one_star_rating  two_star_rating  three_star_rating  four_star_rating  \
0               92              389               1748              2323
1               23               93                518              1290
2               44              183               1041              2020
3              324             1429               8511             15407
4             1086             3414              14855             25219

   five_star_rating
0              3045
1              2255
2              3000
3             12711
4             27594

In [98]:
print(data_reordered.columns)

Index(['book_id', 'book_title', 'settings', 'nb_of_pages', 'isbn',
       'book_description', 'isbn13', 'original_title', 'review_count',
       'one_star_rating', 'two_star_rating', 'three_star_rating',
       'four_star_rating', 'five_star_rating'],
      dtype='object')

In [99]:
# taille de settings
print(data_reordered['settings'].str.len().max() * 1.1)

2539.9

In [100]:
# valeur max de book_id
print(data_reordered['book_id'].max())
max_id = data_reordered['book_id'].max()

54442989

In [101]:
# parcourir toutes les lignes de la colonne title regarder si il y a des doublons et compté le nombre de doublons
# Check for duplicate titles and count them
duplicate_titles = data_reordered['book_title'].duplicated(keep=False)
duplicate_count = data_reordered[duplicate_titles].shape[0]

print(f"Number of non-unique titles: {duplicate_count}")

# Get the first 10 non-unique book titles
non_unique_titles = data_reordered[duplicate_titles]['book_title'].unique()[:10]
print("First 10 non-unique book titles:")
print(non_unique_titles)

# HAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

Number of non-unique titles: 4154
First 10 non-unique book titles:
['Take Two' 'Joe' 'Omerta' 'Silence' 'Darkness' 'Second Nature' 'War'
 'The Accidental Hero' 'Hunted' 'Revelation']

In [102]:
# Count the number of times the value in the 'isbn' column is null
null_isbn_count = data_reordered['isbn'].isnull().sum()

print(f"Number of null values in 'isbn' column: {null_isbn_count}")

Number of null values in 'isbn' column: 11883

In [103]:
from sqlalchemy import create_engine

# URL of the Supabase DB
database_url = 'postgresql://postgres.pczyoeavtwijgtkzgcaz:D0jVgaoGmDAFuaMS@aws-0-eu-west-3.pooler.supabase.com:6543/postgres'


# Create a connection to the database
engine = create_engine(database_url)

# Insert data in the 'author' table
data_reordered.to_sql('book', con=engine, if_exists='append', index=False)

print("Insertion des données terminée.")

## changer le serial de la table book
with engine.connect() as connection:
    connection.execute('ALTER SEQUENCE book_book_id_seq RESTART WITH ' + str(max_id + 1))

Insertion des données terminée.

ObjectNotExecutableError: Not an executable object: 'ALTER SEQUENCE book_book_id_seq RESTART WITH 54442990'