In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, select, Table, MetaData
from sqlalchemy.orm import sessionmaker

data = pd.read_csv('../new_data/books_corrected.csv')

/tmp/ipykernel_12582/1606690997.py:6: DtypeWarning: Columns (18,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../new_data/books_corrected.csv')

In [3]:
# keep only the columns we need (publisher)
data = data[['publisher']]

In [4]:
data = data.drop_duplicates()
data = data.dropna()
data = data.reset_index(drop=True)
data.head()

                                 publisher
0  Simon  Schuster Books for Young Readers
1                            Thomas Nelson
2                                Zondervan
3                                Tor Books
4                            Gallery Books

In [5]:
# add column origin_publisher with all values set to null
data['origin_publisher'] = np.nan

In [6]:
# rename columns publisher to name_publisher
data = data.rename(columns={'publisher': 'name_publisher'})

In [7]:
data.head()

                            name_publisher  origin_publisher
0  Simon  Schuster Books for Young Readers               NaN
1                            Thomas Nelson               NaN
2                                Zondervan               NaN
3                                Tor Books               NaN
4                            Gallery Books               NaN

In [8]:
print(data['name_publisher'].apply(len).max() * 1.1)

100.10000000000001

In [10]:
## URL de la base de données Supabase
database_url = 'postgresql://postgres.pczyoeavtwijgtkzgcaz:D0jVgaoGmDAFuaMS@aws-0-eu-west-3.pooler.supabase.com:6543/postgres'

## Créer une connexion avec la base de données
engine = create_engine(database_url)

## Insérer les données dans la table SQL 'author'
data.to_sql('publisher', con=engine, if_exists='append', index=False)

print("Insertion des données terminée.")

KeyboardInterrupt

In [11]:
data2 = pd.read_csv('../new_data/books_corrected.csv')
data2 = data2[['title', 'publisher']]

# rename columns publisher to name_publisher
data2 = data2.rename(columns={'publisher': 'name_publisher'})

from sqlalchemy import create_engine, select, Table, MetaData
from sqlalchemy.orm import sessionmaker

# Connexion à la base de données
engine = create_engine(database_url)
Session = sessionmaker(bind=engine)
session = Session()

# Créer l'objet MetaData sans `bind`
metadata = MetaData()

# Charger les tables book et publisher en utilisant `autoload_with=engine`
book_table = Table('book', metadata, autoload_with=engine)
publisher_table = Table('publisher', metadata, autoload_with=engine)

# Requête pour obtenir les IDs de livres et publisher selon leurs noms
def get_id_by_name(table, name_column, name_value, search_column='id'):
    result = session.execute(select(table.c[search_column]).where(table.c[name_column] == name_value)).first()
    return result[0] if result else None

# Parcours du DataFrame pour récupérer les IDs et afficher un message après chaque insertion dans `associations`
associations = []
for index, row in data.iterrows():
    book_id = get_id_by_name(book_table, 'title', row['title'], search_column='id_book')
    publisher_id = get_id_by_name(publisher_table, 'name_publisher', row['publisher'], search_column='id_publisher')
    
    # Vérifie que les deux IDs existent avant de les insérer
    if book_id and publisher_id:
        associations.append({'id_book': book_id, 'id_publisher': publisher_id})
        print(f"Association ajoutée : livre ID {book_id}, publisher ID {publisher_id}")

# sauvegarder les associations dans un fichier csv
df_associations = pd.DataFrame(associations)
df_associations.to_csv('associations_publisher.csv', index=False)


# Charger les associations depuis le fichier CSV
associations = pd.read_csv('associations_publisher.csv')

# renommer les colonnes
associations = associations.rename(columns={'book_id': 'id_book', 'publisher_id': 'id_publisher'})

# enlever les doublons de (id_book, id_publisher)
associations = associations.drop_duplicates()

display(associations.head())

# Insérer les associations dans la table SQL 'book_publisher'
associations.to_sql('book_publisher', con=engine, if_exists='append', index=False)


# Ferme la session après insertion
session.close()

/tmp/ipykernel_12582/3556602365.py:1: DtypeWarning: Columns (18,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86) have mixed types. Specify dtype option on import or set low_memory=False.
  data2 = pd.read_csv('../new_data/books_corrected.csv')

KeyError: 'title'