In [7]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, select, Table, MetaData
from sqlalchemy.orm import sessionmaker

data = pd.read_csv('../new_data/books_corrected.csv')

/tmp/ipykernel_75420/1606690997.py:6: DtypeWarning: Columns (18,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../new_data/books_corrected.csv')

In [8]:
# keep only the columns we need (publisher)
data = data[['publisher']]

In [9]:
data = data.drop_duplicates()
data = data.dropna()
data = data.reset_index(drop=True)
data.head()

                                 publisher
0  Simon  Schuster Books for Young Readers
1                            Thomas Nelson
2                                Zondervan
3                                Tor Books
4                            Gallery Books

In [10]:
# add column origin_publisher with all values set to null
data['origin_publisher'] = np.nan

In [11]:
# rename columns publisher to name_publisher
data = data.rename(columns={'publisher': 'name_publisher'})

In [12]:
data.head()

                            name_publisher  origin_publisher
0  Simon  Schuster Books for Young Readers               NaN
1                            Thomas Nelson               NaN
2                                Zondervan               NaN
3                                Tor Books               NaN
4                            Gallery Books               NaN

In [14]:
print(data['name_publisher'].apply(len).max() * 1.1)

100.10000000000001

In [13]:
## URL de la base de données Supabase
database_url = 'postgresql://postgres.pczyoeavtwijgtkzgcaz:D0jVgaoGmDAFuaMS@aws-0-eu-west-3.pooler.supabase.com:6543/postgres'

## Créer une connexion avec la base de données
engine = create_engine(database_url)

## Insérer les données dans la table SQL 'author'
data.to_sql('publisher', con=engine, if_exists='append', index=False)

print("Insertion des données terminée.")

DataError: (psycopg2.errors.StringDataRightTruncation) value too long for type character varying(50)

[SQL: INSERT INTO publisher (name_publisher, origin_publisher) VALUES (%(name_publisher__0)s, %(origin_publisher__0)s), (%(name_publisher__1)s, %(origin_publisher__1)s), (%(name_publisher__2)s, %(origin_publisher__2)s), (%(name_publisher__3)s, %(origin_pub ... 53492 characters truncated ... e_publisher__998)s, %(origin_publisher__998)s), (%(name_publisher__999)s, %(origin_publisher__999)s)]
[parameters: {'name_publisher__0': 'Simon  Schuster Books for Young Readers', 'origin_publisher__0': None, 'name_publisher__1': 'Thomas Nelson', 'origin_publisher__1': None, 'name_publisher__2': 'Zondervan', 'origin_publisher__2': None, 'name_publisher__3': 'Tor Books', 'origin_publisher__3': None, 'name_publisher__4': 'Gallery Books', 'origin_publisher__4': None, 'name_publisher__5': 'Arrow', 'origin_publisher__5': None, 'name_publisher__6': 'Harlequin', 'origin_publisher__6': None, 'name_publisher__7': 'Algonquin Books', 'origin_publisher__7': None, 'name_publisher__8': 'Orion Books Ltd., London', 'origin_publisher__8': None, 'name_publisher__9': 'E.P. Dutton', 'origin_publisher__9': None, 'name_publisher__10': 'Roc', 'origin_publisher__10': None, 'name_publisher__11': 'Pocket Star', 'origin_publisher__11': None, 'name_publisher__12': 'Villard Books', 'origin_publisher__12': None, 'name_publisher__13': 'HarperCollins', 'origin_publisher__13': None, 'name_publisher__14': 'Ballantine Books', 'origin_publisher__14': None, 'name_publisher__15': 'Harper Perennial', 'origin_publisher__15': None, 'name_publisher__16': 'Orion', 'origin_publisher__16': None, 'name_publisher__17': 'Kensington Trade', 'origin_publisher__17': None, 'name_publisher__18': 'CreateSpace Independent Publishing Platform', 'origin_publisher__18': None, 'name_publisher__19': 'self', 'origin_publisher__19': None, 'name_publisher__20': 'Signet Books', 'origin_publisher__20': None, 'name_publisher__21': "Ellora's Cave Publishing Inc.", 'origin_publisher__21': None, 'name_publisher__22': 'Harper Teen', 'origin_publisher__22': None, 'name_publisher__23': 'Blvnp Publishing Incorporated', 'origin_publisher__23': None, 'name_publisher__24': 'Berkley', 'origin_publisher__24': None ... 1900 parameters truncated ... 'name_publisher__975': 'Ediciones B', 'origin_publisher__975': None, 'name_publisher__976': 'دار الرسم بالكلمات', 'origin_publisher__976': None, 'name_publisher__977': 'Northwestern University Press', 'origin_publisher__977': None, 'name_publisher__978': 'Image Comics', 'origin_publisher__978': None, 'name_publisher__979': 'Persea Books', 'origin_publisher__979': None, 'name_publisher__980': 'Randi Cooley Wilson', 'origin_publisher__980': None, 'name_publisher__981': 'Corgi Books', 'origin_publisher__981': None, 'name_publisher__982': 'Crossway', 'origin_publisher__982': None, 'name_publisher__983': 'Feiwel  Friends', 'origin_publisher__983': None, 'name_publisher__984': 'J.M. Meulenhoff', 'origin_publisher__984': None, 'name_publisher__985': 'Bloomsbury Methuen Drama', 'origin_publisher__985': None, 'name_publisher__986': 'The Feminist Press at CUNY', 'origin_publisher__986': None, 'name_publisher__987': 'Rabén & Sjögren', 'origin_publisher__987': None, 'name_publisher__988': 'المؤسسة العربية الحديثة', 'origin_publisher__988': None, 'name_publisher__989': 'Centre for Romanian Studies', 'origin_publisher__989': None, 'name_publisher__990': '芳文社', 'origin_publisher__990': None, 'name_publisher__991': 'Darussalam', 'origin_publisher__991': None, 'name_publisher__992': 'Jove Books', 'origin_publisher__992': None, 'name_publisher__993': 'دار نهضة مصر للطباعة والنشر', 'origin_publisher__993': None, 'name_publisher__994': 'Black Swan', 'origin_publisher__994': None, 'name_publisher__995': 'Harper Perennial (HarperCollins)', 'origin_publisher__995': None, 'name_publisher__996': 'Text Publishing', 'origin_publisher__996': None, 'name_publisher__997': 'Liquid Silver Books', 'origin_publisher__997': None, 'name_publisher__998': 'Eerdmans', 'origin_publisher__998': None, 'name_publisher__999': 'Vintage Crime/Black Lizard', 'origin_publisher__999': None}]
(Background on this error at: https://sqlalche.me/e/20/9h9h)