In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#CSV Import
BaseDataFrame = pd.read_csv("Big_boss_authors.csv", delimiter=",")

'''
#Loop for every row
for row in BaseDataFrame.iterrows():
    #Every rows that causes issues
    row[1]['author_gender'] = row[1]['author_gender'].replace("\n", "")
    row[1]['author_genres'] = row[1]['author_genres'].replace("\n", "")
    row[1]['author_name'] = row[1]['author_name'].replace("\n", "")
    row[1]['birthplace'] = row[1]['birthplace'].replace("\n", "")
    row[1]['birthplace'] = row[1]['birthplace'].replace("  ", "")
    row[1]['book_title'] = row[1]['book_title'].replace("\n", "")
    row[1]['book_title'] = row[1]['book_title'].replace("  ", "")
    #Put all the modification in a list
    CorrectedRows = row[1].tolist()
    #Repalce the list in the dataframe with the corresponding row
    BaseDataFrame.loc[row[0]] = CorrectedRows

BaseDataFrame.to_csv("CleanedAuthors.csv", index=True) 
'''

'\n#Loop for every row\nfor row in BaseDataFrame.iterrows():\n    #Every rows that causes issues\n    row[1][\'author_gender\'] = row[1][\'author_gender\'].replace("\n", "")\n    row[1][\'author_genres\'] = row[1][\'author_genres\'].replace("\n", "")\n    row[1][\'author_name\'] = row[1][\'author_name\'].replace("\n", "")\n    row[1][\'birthplace\'] = row[1][\'birthplace\'].replace("\n", "")\n    row[1][\'birthplace\'] = row[1][\'birthplace\'].replace("  ", "")\n    row[1][\'book_title\'] = row[1][\'book_title\'].replace("\n", "")\n    row[1][\'book_title\'] = row[1][\'book_title\'].replace("  ", "")\n    #Put all the modification in a list\n    CorrectedRows = row[1].tolist()\n    #Repalce the list in the dataframe with the corresponding row\n    BaseDataFrame.loc[row[0]] = CorrectedRows\n\nBaseDataFrame.to_csv("CleanedAuthors.csv", index=True) \n'

In [27]:
cleanedDataFrame = pd.read_csv("CleanedAuthors.csv", delimiter=",")

## affiché chaque variable avec son type
for column in cleanedDataFrame.columns:
    print(column, cleanedDataFrame[column].dtype, cleanedDataFrame[column].head(1).values)

## verifier si author_rating_count est le même pour chaque ligne d'un même auteur
display(cleanedDataFrame.loc[cleanedDataFrame['author_name'] == 'J.K. Rowling'])

Unnamed: 0 int64 [0]
author_average_rating float64 [4.01]
author_gender object ['female']
author_genres object ['historical-fiction,']
author_id int64 [74489]
author_name object ['Victoria Thompson']
author_rating_count int64 [74399]
author_review_count int64 [6268]
birthplace object [' United States']
book_average_rating float64 [4.02]
book_id object ['686717']
book_title object ["Murder on St. Mark's Place"]
genre_1 object ['Mystery']
genre_2 object ['Historical']
num_ratings int64 [5260]
num_reviews int64 [375]
pages object ['277']
publish_date object ['2000']

,Unnamed: 0,author_average_rating,author_gender,author_genres,author_id,author_name,author_rating_count,author_review_count,birthplace,book_average_rating,book_id,book_title,genre_1,genre_2,num_ratings,num_reviews,pages,publish_date
128,128,4.45,female,"fiction,",1077326,J.K. Rowling,21098703,516169,United Kingdom,4.74,862041,Harry Potter Series Box Set,Fantasy,Young Adult,224432,6881,4100,2007
3040,3040,4.45,female,"fiction,",1077326,J.K. Rowling,21103858,516320,United Kingdom,4.55,5,Harry Potter and the Prisoner of Azkaban,Fantasy,Young Adult,2275315,44330,435,July 8th 1999
6497,6497,4.45,female,"fiction,",1077326,J.K. Rowling,21106819,516421,United Kingdom,4.21,31538647,Hogwarts: An Incomplete and Unreliable Guide,Fantasy,Short Stories,20872,1627,79,2016
10659,10659,4.45,female,"fiction,",1077326,J.K. Rowling,21106819,516421,United Kingdom,4.48,2,Harry Potter and the Order of the Phoenix,Fantasy,Young Adult,2087093,34321,870,June 21st 2003
13297,13297,4.45,female,"fiction,",1077326,J.K. Rowling,21106819,516421,United Kingdom,4.56,1,Harry Potter and the Half-Blood Prince,Fantasy,Young Adult,2036961,32557,652,July 16th 2005
14009,14009,4.45,female,"fiction,",1077326,J.K. Rowling,21117318,516745,United Kingdom,4.55,5,Harry Potter and the Prisoner of Azkaban,Fantasy,Young Adult,2276977,44377,435,July 8th 1999

In [28]:
display(cleanedDataFrame['Unnamed: 0'].head(10))
display(cleanedDataFrame['pages'].head(10))

bookdf = pd.read_csv("bigboss_book.csv", delimiter=",")

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
Name: Unnamed: 0, dtype: int64

0    277
1    465
2    354
3    438
4    326
5    104
6    327
7    319
8    278
9    303
Name: pages, dtype: object

/tmp/ipykernel_24193/1136723955.py:4: DtypeWarning: Columns (18,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86) have mixed types. Specify dtype option on import or set low_memory=False.
  bookdf = pd.read_csv("bigboss_book.csv", delimiter=",")

In [29]:
for column in bookdf.columns:
    print(column, bookdf[column].dtype, bookdf[column].head(1).values)

id int64 [630104]
title object ['Inner Circle']
series object ['(Private #5)']
author object ['Kate Brian, Julian Peploe']
rating_count int64 [7597]
review_count int64 [196]
average_rating object ['4,03']
five_star_ratings int64 [3045]
four_star_ratings int64 [2323]
three_star_ratings int64 [1748]
two_star_ratings int64 [389]
one_star_ratings int64 [92]
number_of_pages float64 [220.]
date_published object ['January 1st 2007']
publisher object ['Simon  Schuster Books for Young Readers']
original_title object ['Inner Circle']
genre_and_votes object ['Young Adult 161, Mystery 45, Romance 32']
isbn object ['1416950419']
isbn13 object ['9781416950417']
settings object [nan]
characters object [nan]
awards object [nan]
books_in_series object ['381489, 381501, 352428, 630103, 1783281, 1783289, 2206960, 3997399, 5995900, 6693415']
description object ["Reed Brennan arrived at Easton Academy expecting to find an idyllic private school experience -- challenging classes, adorably preppy boys, and a chance to create a new life for herself. Instead, she discovered lies, deception, blackmail, and...murder. But, thankfully, the killers were caught and the nightmare is finally over.     Now, with a new school year ahead of her, Re Reed Brennan arrived at Easton Academy expecting to find an idyllic private school experience -- challenging classes, adorably preppy boys, and a chance to create a new life for herself. Instead, she discovered lies, deception, blackmail, and...murder. But, thankfully, the killers were caught and the nightmare is finally over.     Now, with a new school year ahead of her, Reed steps back on Easton's ivy-covered campus ready to start over. So when the headmaster announces that billings is forbidden from holding their traditional, secretive initiation, Reed is relieved. She champions the new rules and the six new girls the administration has picked to live in Billings Hall: Constance, Missy, Lorna, Kiki, Astrid, and newcomer Sabine.     But Reed's fellow Billings resident and new nemesis, Cheyenne Martin, believes the changes are a mockery of Billings history. Despite the new rules, Cheyenne vows to keep the old ways alive, no matter what -- or   -- stands in her way..."]
Unnamed: 24 object [nan]
Unnamed: 25 object [nan]
Unnamed: 26 object [nan]
Unnamed: 27 object [nan]
Unnamed: 28 object [nan]
Unnamed: 29 object [nan]
Unnamed: 30 object [nan]
Unnamed: 31 object [nan]
Unnamed: 32 object [nan]
Unnamed: 33 object [nan]
Unnamed: 34 object [nan]
Unnamed: 35 object [nan]
Unnamed: 36 object [nan]
Unnamed: 37 object [nan]
Unnamed: 38 object [nan]
Unnamed: 39 object [nan]
Unnamed: 40 object [nan]
Unnamed: 41 object [nan]
Unnamed: 42 object [nan]
Unnamed: 43 object [nan]
Unnamed: 44 object [nan]
Unnamed: 45 object [nan]
Unnamed: 46 object [nan]
Unnamed: 47 object [nan]
Unnamed: 48 object [nan]
Unnamed: 49 object [nan]
Unnamed: 50 object [nan]
Unnamed: 51 object [nan]
Unnamed: 52 object [nan]
Unnamed: 53 object [nan]
Unnamed: 54 object [nan]
Unnamed: 55 object [nan]
Unnamed: 56 object [nan]
Unnamed: 57 object [nan]
Unnamed: 58 object [nan]
Unnamed: 59 object [nan]
Unnamed: 60 object [nan]
Unnamed: 61 object [nan]
Unnamed: 62 object [nan]
Unnamed: 63 object [nan]
Unnamed: 64 object [nan]
Unnamed: 65 object [nan]
Unnamed: 66 object [nan]
Unnamed: 67 object [nan]
Unnamed: 68 object [nan]
Unnamed: 69 object [nan]
Unnamed: 70 object [nan]
Unnamed: 71 object [nan]
Unnamed: 72 object [nan]
Unnamed: 73 object [nan]
Unnamed: 74 object [nan]
Unnamed: 75 object [nan]
Unnamed: 76 object [nan]
Unnamed: 77 object [nan]
Unnamed: 78 object [nan]
Unnamed: 79 object [nan]
Unnamed: 80 object [nan]
Unnamed: 81 object [nan]
Unnamed: 82 object [nan]
Unnamed: 83 object [nan]
Unnamed: 84 object [nan]
Unnamed: 85 object [nan]
Unnamed: 86 object [nan]