In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Lecture de votre fichier CSV
df = pd.read_csv("bigboss_book.csv", delimiter =",", encoding='utf-8')

display(df.columns)

/tmp/ipykernel_5448/3810646499.py:6: DtypeWarning: Columns (18,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("bigboss_book.csv", delimiter =",", encoding='utf-8')

Index(['id', 'title', 'series', 'author', 'rating_count', 'review_count',
       'average_rating', 'five_star_ratings', 'four_star_ratings',
       'three_star_ratings', 'two_star_ratings', 'one_star_ratings',
       'number_of_pages', 'date_published', 'publisher', 'original_title',
       'genre_and_votes', 'isbn', 'isbn13', 'settings', 'characters', 'awards',
       'books_in_series', 'description', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41',
       'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
       'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49',
       'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53',
       'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57',
       'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61',
       'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65',
       'Unnamed: 66', 'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69',
       'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73',
       'Unnamed: 74', 'Unnamed: 75', 'Unnamed: 76', 'Unnamed: 77',
       'Unnamed: 78', 'Unnamed: 79', 'Unnamed: 80', 'Unnamed: 81',
       'Unnamed: 82', 'Unnamed: 83', 'Unnamed: 84', 'Unnamed: 85',
       'Unnamed: 86'],
      dtype='object')

In [4]:
## enlever les colonnes inutiles
df2 = df.drop(columns=['Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66', 'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73', 'Unnamed: 74', 'Unnamed: 75', 'Unnamed: 76', 'Unnamed: 77', 'Unnamed: 78', 'Unnamed: 79', 'Unnamed: 80', 'Unnamed: 81', 'Unnamed: 82', 'Unnamed: 83', 'Unnamed: 84', 'Unnamed: 85', 'Unnamed: 86'])
display(df2.head())

,id,title,series,author,rating_count,review_count,average_rating,five_star_ratings,four_star_ratings,three_star_ratings,...,publisher,original_title,genre_and_votes,isbn,isbn13,settings,characters,awards,books_in_series,description
0,630104,Inner Circle,(Private #5),"Kate Brian, Julian Peploe",7597,196,"4,03",3045,2323,1748,...,Simon Schuster Books for Young Readers,Inner Circle,"Young Adult 161, Mystery 45, Romance 32",1416950419,9781416950417,NaN,NaN,NaN,"381489, 381501, 352428, 630103, 1783281, 17832...",Reed Brennan arrived at Easton Academy expecti...
1,9487,A Time to Embrace,(Timeless Love #2),Karen Kingsbury,4179,177,"4,35",2255,1290,518,...,Thomas Nelson,NaN,"Christian Fiction 114, Christian 45, Fiction 3...",1595542329,9781595542328,NaN,NaN,NaN,115036,"Ideje az Ã¶lelÃ©snek TÃ¶rtÃ©net a remÃ©nyrÅl,..."
2,6050894,Take Two,(Above the Line #2),Karen Kingsbury,6288,218,"4,23",3000,2020,1041,...,Zondervan,Take Two,"Christian Fiction 174, Christian 81, Fiction 58",NaN,NaN,"Bloomington, Indiana(United States)",NaN,NaN,"4010795, 40792877, 7306261",Filmmakers Chase Ryan and Keith Ellison have c...
3,39030,Reliquary,(Pendergast #2),"Douglas Preston, Lincoln Child",38382,1424,"4,01",12711,15407,8511,...,Tor Books,Reliquary,"Thriller 626, Mystery 493, Horror 432, Fiction...",765354950,9780765354952,"New York State(United States) New York City, N...","Aloysius X.L. Pendergast, Margo Green, William...",NaN,"67035, 39031, 39033, 136637, 136638, 30068, 39...",NaN
4,998,The Millionaire Next Door: The Surprising Secr...,NaN,"Thomas J. Stanley, William D. Danko",72168,3217,"4,04",27594,25219,14855,...,Gallery Books,The Millionaire Next Door: The Surprising Secr...,"Economics-Finance 1162, Nonfiction 910, Busine...",671015206,9780671015206,NaN,NaN,Independent Publisher Book Award (IPPY) Nomine...,NaN,The incredible national bestseller that is cha...

In [5]:
## listé toute les ligne qui ont des valeur dans Unnamed: 24, 25,...
lignes = []
for i in range(24, 87):
    ##le numéro de la ligne
    lignes.append(df[df['Unnamed: '+str(i)].notnull()].index)

#fusioner les lignes
lignes = np.concatenate(lignes)
#supprimer les doublons
lignes = np.unique(lignes)
# trie les lignes
lignes = np.sort(lignes)
#afficher les lignes
print(lignes)

## afficher les lignes
display(df.loc[lignes])

[13540 22248 22737 24746 27971 28537 29494 37380 37521 41827]

,id,title,series,author,rating_count,review_count,average_rating,five_star_ratings,four_star_ratings,three_star_ratings,...,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86
13540,6765667,Ø§ÙÙØ¯ÙØ§Øª Ø§ÙÙØ¨Ø§Ø± Ø¨ÙÙ Ø§ÙØªØ­Ø·Ù...,NaN,Ù Ø­Ù Ø¯ Ù ÙØ³Ù Ø§ÙØ´Ø±ÙÙ,77,7,"3,97",28,24,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22248,20959438,Beautiful Ink,(Forever Inked #1),Nicole Reed,4829,583,"4,15",2038,1794,769,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22737,6537155,Ø§ÙØ£Ø³Ø·ÙØ±Ø© ÙØ§ÙÙ Ø¹ÙÙ: Ø¯Ø±Ø§Ø³Ø§Øª ...,NaN,ÙØ±Ø§Ø³ Ø§ÙØ³ÙØ§Ø­,242,24,"4,17",100,91,46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24746,16140037,The Prince with Amnesia,NaN,Emily Evans,1524,96,"3,45",288,440,525,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27971,15727192,Ø§ÙØ·ÙØ§Ù Ø§ÙØ±ÙØ­,NaN,"Ø§ÙØ¨Ø§Ø¨Ø§ Ø´ÙÙØ¯Ø© Ø§ÙØ«Ø§ÙØ«, Pope She...",389,39,"4,56",265,97,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28537,20403589,Ø«ØºØ±Ø© ÙÙØ³ÙÙØ±,NaN,Ø¹Ù Ø± Ø¹ÙØ¯Ø©,1510,205,"3,21",366,278,404,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29494,2287807,Les Grandes MarÃ©es,NaN,Jacques Poulin,429,23,"3,59",85,156,132,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37380,17201293,à¦à¦¾à¦à¦¾à¦¬à¦¾à¦¬à§ à¦¸à¦®à¦à§à¦° à§¨,( à¦¸à¦¨à§à¦¤à§-à¦à¦¾à¦à¦¾à¦¬à¦¾à¦¬à§ #7-12),Sunil Gangopadhyay,682,8,"4,17",270,294,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37521,17201284,à¦à¦¾à¦à¦¾à¦¬à¦¾à¦¬à§ à¦¸à¦®à¦à§à¦° à§©,( à¦¸à¦¨à§à¦¤à§-à¦à¦¾à¦à¦¾à¦¬à¦¾à¦¬à§ #13...,Sunil Gangopadhyay,593,7,"4,12",227,235,109,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41827,569564,The Complete Works,NaN,William Shakespeare,49951,830,"4,5",32333,11826,4557,...,Anthony and Cleopatra,Cymbeline,Pericles,Venus and Adonis,Rape of Lucrece,Sonnets,Lover's Complaint,Passionate Pilgrim,Sonnets to Sundry Notes of Music,Phoenix and the Turtle

In [6]:
 ## la description de la ligne 22248
display(df2.loc[22248]['description'])

'Family. I have tattooed that single word on more skin than I care to count. It elicits powerful thoughts and emotions for most people.  Loving.'

In [7]:
## listé les valeur nan pour chaque variable de df2
nan = df2.isna().sum()
display(nan)

id                        0
title                     0
series                28880
author                    0
rating_count              0
review_count              0
average_rating            0
five_star_ratings         0
four_star_ratings         0
three_star_ratings        0
two_star_ratings          0
one_star_ratings          0
number_of_pages        2330
date_published          860
publisher              3636
original_title        12949
genre_and_votes        2840
isbn                  11883
isbn13                12692
settings              40684
characters            38504
awards                41573
books_in_series       30121
description            2575
dtype: int64

In [8]:
## affiché ligne 102
display(df2.loc[102])

id                                                             13075513
title                                                     Nobody's Hero
series                                              (Rescue Me Saga #2)
author                                                 Kallypso Masters
rating_count                                                      11900
review_count                                                        591
average_rating                                                      4,3
five_star_ratings                                                  6173
four_star_ratings                                                  3774
three_star_ratings                                                 1472
two_star_ratings                                                    328
one_star_ratings                                                    153
number_of_pages                                                   357.0
date_published                                      September 29th 2011
publisher                                                           NaN
original_title                                Nobody's Hero (Rescue Me)
genre_and_votes       Erotica-BDSM 443, Adult Fiction-Erotica 207, R...
isbn                                                                NaN
isbn13                                                              NaN
settings                                                            NaN
characters                                                          NaN
awards                                                              NaN
books_in_series       18880706, 22091449, 22091496, 23550544, 134216...
description           Have you ever fallen in love with the wrong pe...
Name: 102, dtype: object

In [9]:
## mettre les valeurs manquantes à False de awards
df2['awards'] = df2['awards'].fillna(False)

display(df2['awards'])

0                                                    False
1                                                    False
2                                                    False
3                                                    False
4        Independent Publisher Book Award (IPPY) Nomine...
                               ...
52194                                                False
52195    Goodreads Choice Award for Nonfiction (2014), ...
52196    Austrian National Prize (1961), City of Vienna...
52197                                                False
52198                                                False
Name: awards, Length: 52199, dtype: object