In [50]:
import pandas as pd
from math import sqrt

data = pd.read_csv("./book_rows.csv")
dataGenre = pd.read_csv("./book_genre_rows.csv")
dataGenre.set_index("book_id", inplace=True)
dataGenre = dataGenre.drop_duplicates()

data.set_index("book_id", inplace=True)
data = data.drop("isbn", axis=1)
data = data.drop("isbn13", axis=1)
data = data.drop("book_title", axis=1)
data = data.drop("book_description", axis=1)
data = data.drop("original_title", axis=1)
data = data.fillna(0)
dataGenre = dataGenre.drop("nb_of_vote", axis=1)

# Step 1: Group by book_id and aggregate values into lists
aggregated_df = dataGenre.groupby("book_id").agg(list)

# Step 2: Expand lists into new columns
# Find the maximum length of lists for each column
max_len = aggregated_df["genre_id"].apply(len).max()

# Create new columns dynamically
expanded_columns = {}
for col in aggregated_df.columns:
    for i in range(max_len):
        expanded_columns[f"{col}_{i+1}"] = aggregated_df[col].apply(lambda x: x[i] if i < len(x) else None)

# Create a new DataFrame with expanded columns
expanded_df = pd.DataFrame(expanded_columns)

# Add book_id back as a column
expanded_df["book_id"] = aggregated_df.index

# Reorder columns to move book_id to the front
expanded_df = expanded_df[["book_id"] + [col for col in expanded_df.columns if col != "book_id"]]

def recommend_books(MeanOfLikedBooks, BookLiked,BookDf):
    DistanceList = []
    BookDf.reset_index(drop=False, inplace=True)
    BookDf = pd.get_dummies(BookDf)
    BookDf = BookDf.astype(float)
    BookList = BookDf.values.tolist()
    print(MeanOfLikedBooks)
    for Book in BookList:
        if (Book[0] in BookLiked):
            continue
        elif (Book != []):
            sum = 0
            for i in range(len(MeanOfLikedBooks)):
                sum = sum + (Book[i+1] - MeanOfLikedBooks[i])**2
            DistanceList.append((Book[0],(sqrt(sum))))
    DistanceList.sort(key=lambda x: x[1])
    return DistanceList[:5]

def MeanOfBooksRead(ListOfBooksIds, BookDf):
    mean = 0
    BookDf = pd.get_dummies(BookDf)
    BookDf = BookDf.astype(float)
    for BookId in ListOfBooksIds:
        BaseBook = BookDf.loc[BookId].values.tolist()
        if(mean == 0):
            mean = BaseBook
        else:
            mean = [(mean[i] + BaseBook[i]) for i in range(len(mean))]
    return mean

reco = recommend_books(MeanOfBooksRead([20075, 54754], data), [20075, 54754], data)
print(reco)
print(len(reco))

[926.0, 554.0, 201.0, 642.0, 2802.0, 4674.0, 5141.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
[(2067180.0, 2962.584851105534), (428108.0, 5590.8772120303265), (846746.0, 5591.688474870538), (224615.0, 5719.48826382221), (1846848.0, 6019.158745206842)]
5

In [15]:
import pandas as pd

data = pd.read_csv("./book_rows.csv")
dataGenre = pd.read_csv("./book_genre_rows.csv")
dataGenre.set_index("book_id", inplace=True)
dataGenre = dataGenre.drop(columns="nb_of_vote")
dataGenre = dataGenre.drop_duplicates()

# Step 1: Group by book_id and aggregate values into lists
aggregated_df = dataGenre.groupby("book_id").agg(list)

# Step 2: Expand lists into new columns
# Find the maximum length of lists for each column
max_len = aggregated_df["genre_id"].apply(len).max()

# Create new columns dynamically
expanded_columns = {}
for col in aggregated_df.columns:
    for i in range(max_len):
        expanded_columns[f"{col}_{i+1}"] = aggregated_df[col].apply(lambda x: x[i] if i < len(x) else None)

# Create a new DataFrame with expanded columns
expanded_df = pd.DataFrame(expanded_columns)

# Add book_id back as a column
expanded_df["book_id"] = aggregated_df.index

# Reorder columns to move book_id to the front
expanded_df = expanded_df[["book_id"] + [col for col in expanded_df.columns if col != "book_id"]]

display(expanded_df)

,book_id,genre_id_1,genre_id_2,genre_id_3,genre_id_4,genre_id_5,genre_id_6,genre_id_7,genre_id_8,genre_id_9,genre_id_10
book_id,,,,,,,,,,,
10000,10000,30884.0,30764.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000783,1000783,31385.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100629,100629,31344.0,31289.0,31464.0,31341.0,NaN,NaN,NaN,NaN,NaN,NaN
10066,10066,30697.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10086681,10086681,31349.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
98250,98250,31471.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
990921,990921,31088.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99328,99328,31307.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,998,30933.0,31257.0,30784.0,31008.0,31426.0,30903.0,30932.0,31427.0,30767.0,31323.0
aggregated_df = dataGenre.groupby(level=0).agg(lambda x: pd.Series(x).reset_index(drop=True).tolist()),aggregated_df = dataGenre.groupby(level=0).agg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN